---
import Badge from '@/components/Badge.astro'
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Social from '@/components/Social.astro'
import Likedin from '@/components/icons/Likedin.astro'
import Github from '@/components/icons/Github.astro'
---

<Layout title="Design System" description='Catalogo de componentes de portafolio'>
    <SectionContainer>
        <article class="mb-10">
            <h1 class="mb-4 text-xl font-semibold">&lt; Badge &gt;</h1>
            <Badge>Disponible</Badge>
           

        </article>
        <article class="mb-10">
            <h1 class="mb-4 text-xl font-semibold">&lt; Social &gt;</h1>
            <div class="flex">
                <Social href="https://www.linkedin.com/in/ismael-arroyo-b8003016a">
					<Likedin class="size-4 md:size-5 lg:size-6"></Likedin>
					LinkedIn
				</Social>
                <Social href="https://github.com/ArroyoIsmael">
					<Github class="size-4 md:size-5 lg:size-6"></Github>
					GitHub
				</Social>
            </div>
        </article>

    </SectionContainer>
</Layout>

