<section class="flex gap-x-8 flex-col md:flex-row lg:flex-row justify-center items-center ">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold text-justify order-2 md:order-1">
        <p>
            ¡Hola! me llamo Jesus Ismael pero me gusta que solo me digan Ismael ó Isma.
        </p>
        <p>
            Inicié con la <strong>programación</strong> cuando inicié a estudiar la universidad, al principio creí que
            no era para mi la carrera de ingeniería en Tecnologías porque no sabía mucho de computación
            pero en el transcurso del del semestre me percate que me gustaba <strong> resolver problemas y analizar 
            datos por medio de la programación</strong>.
        </p>
        <p>
            Ademas de ser programador, dí clases de programación a nivel preparatoria en una escuela
            privada, en donde demostré mis <em class="italic text-red-200/90">habilidades docentes y tecnologícas.</em> En la escuela tuve la oportunidad
            de realizar un diplomado en habilidades docentes tecnologícas.
        </p>
    </div>
    <img class="rounded-full size-60 order-1 md:order-2" src="https://media.licdn.com/dms/image/D5603AQFkVkQBObpeTA/profile-displayphoto-shrink_800_800/0/1688678483678?e=2147483647&v=beta&t=qI_Yg0ryLi0LQIvuR39btw-P_AIfUhTcdEZboYGDI0o"  alt="">

</section>
