<section class="flex gap-x-8 flex-col md:flex-row lg:flex-row justify-center items-center ">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold text-justify order-2 md:order-1">
        <p>
            ¡Hola! me llamo Jesus Ismael pero me gusta que solo me digan Ismael ó Isma.
        </p>
        <p>
            Inicié mi fascinación por la programación durante mi tiempo en la universidad. Al principio, dudaba si la <strong>ingeniería en Tecnologías</strong> era la carrera adecuada para mí, 
            ya que mis conocimientos de computación eran limitados. Sin embargo, a medida que avanzaba el semestre, descubrí que me apasionaba <strong>resolver problemas</strong> y analizar datos a través de la programación.
        </p>
        <p>
            Además del gusto por la programación, también disfruto de actividades como la <strong>lectura y la enseñanza</strong>. 
            Soy una persona analítica, siempre buscando entender los detalles y las conexiones en cada situación. 
            Me encanta <em class="italic text-red-200/90">compartir mis conocimientos y ayudar a otros</em> a comprender conceptos complejos de manera clara y concisa.
        </p>
        
    </div>
    <img class="rounded-full size-60 order-1 md:order-2" src="https://media.licdn.com/dms/image/D5603AQFkVkQBObpeTA/profile-displayphoto-shrink_800_800/0/1688678483678?e=2147483647&v=beta&t=qI_Yg0ryLi0LQIvuR39btw-P_AIfUhTcdEZboYGDI0o"  alt="">

</section>
