<header 
class="flex justify-center items-center py-4 w-full xl:w-[1120px] mx-auto"
>
    <span></span>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#home">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#project">Proyectos</a>
        <a href="#forme">Sobre mi</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>